@model Burk.Model.UDB.Dictionary
@using Burk.Model.Resources;

<script type="text/javascript" src="~/Scripts/custom/Dictionary/AddEditDictionary.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("AddEdit", "Dictionary", FormMethod.Post, new { id = "addEditDictionaryDialog" }))
{
    @Html.HiddenFor(x => x.DictionaryId)
    @Html.HiddenFor(x => x.SystemId)
    @Html.HiddenFor(x => x.UID)

    <div class="tb_title">@Html.DisplayNameFor(x => x.FullName):<span class="req">*</span></div>
    <div>@Html.TextBoxFor(x => x.FullName)</div>
    <div>@Html.ValidationMessageFor(x => x.FullName)</div>
    <div class="tb_title">@Html.DisplayNameFor(x => x.ShortName):</div>
    <div>@Html.TextBoxFor(x => x.ShortName)</div>

    <div id="ErrorInputDiv" />
    <div id="SuccessfulCreateDiv" />

    <input id="saveBtn" type="button" class="btn btn-primary btn-sm" onclick="SaveDictionary()" value="@Resource.Save" />
}