@using Burk.Model.Resources;
@{
    ViewBag.Title = Resource.HomePage;
}

<div class="jumbotron">
    <h1>Burk - Build and Work</h1>
    <p class="lead">Burk is good system.</p>
    <p>@Html.ActionLink(Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Resource.Flexibility</h2>
        <p>@Resource.MainPageText1</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Resource.Security</h2>
        <p>@Resource.MainPageText2</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Resource.HighControl</h2>
        <p>@Resource.MainPageText3</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>