@using System.Globalization;
@using System.Threading;
@using Burk.Model.Misc;
@using Burk.Model.Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUI")
    @Styles.Render("~/Content/jqueryUIcss")
    @Styles.Render("~/Content/JQWidgetscss")
    @Scripts.Render("~/bundles/JQWidgets")

    @Scripts.Render("~/bundles/SharedScripts")
</head>
<body>
    <script src="@Url.Content("~/Home/GenerateJS_Of_Resource")" type="text/javascript"></script>
    <script type="text/javascript">
        var UICulture = '@UICulture';
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Burk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.IsShowSystemName == true)
                    {
                        <li>@Html.ActionLink(Session["SystemName"].ToString(), "Index", "SettingSystem")</li>
                        <li>@Html.ActionLink(@Resource.Dictionaries, "Index", "Dictionary")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Html.Partial("_MenuPartial")
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer style="text-align:center">
        <hr />
        <p>&copy; @DateTime.Now.Year - Burk</p>
        @{
            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
            <a href="/Home/ChangeCurrentCulture/@((int)Language.en)">@Resource.English</a> <br />
            <a href="/Home/ChangeCurrentCulture/@((int)Language.ua)">@Resource.Ukrainian</a> <br />
            <a href="/Home/ChangeCurrentCulture/@((int)Language.ru)">@Resource.Russian</a>
        }
    </footer>

    @RenderSection("scripts", required: false)

    <div id="ErrorDiv" />
    <div id="jqxLoader"></div>
    <div id="SuccessDiv"></div>
    <div id="AddEditDiv"></div>
</body>
</html>
