@model Burk.Model.UDB.DossierAttribute
@using Burk.Model.Resources; 

<script type="text/javascript" src="~/Scripts/custom/Attribute/AddEditAttribute.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("AddEdit", "Attribute", FormMethod.Post, new { id = "addEditAttributeDialog" }))
{
    @Html.HiddenFor(x => x.DosAttributeId)
    @Html.HiddenFor(x => x.DosInsetId)
    @Html.HiddenFor(x => x.DictionaryId)
    @Html.HiddenFor(x => x.UID)

    <div class="tb_title">@Html.DisplayNameFor(x => x.FullName):<span class="req">*</span></div>
    <div>@Html.TextBoxFor(x => x.FullName)</div>
    <div>@Html.ValidationMessageFor(x => x.FullName)</div>
    <div class="tb_title">@Html.DisplayNameFor(x => x.ShortName):</div>
    <div>@Html.TextBoxFor(x => x.ShortName)</div>
    <div class="tb_title">@Html.DisplayNameFor(x => x.AttributeType):</div>
    <div>@Html.DropDownListFor(x => x.AttributeTypeName, new List<SelectListItem>() { new SelectListItem() { Text = Resource.Text, Value = "Text" }, new SelectListItem() { Text = Resource.Number, Value = "Number" }, new SelectListItem() { Text = Resource.Date, Value = "Date" } })</div>

    <div id="ErrorInputDiv" />
    <div id="SuccessfulCreateDiv" />

    <input id="saveBtn" type="button" class="btn btn-primary btn-sm" onclick="Save()" value="@Resource.Save" />
}