@model Burk.Model.UDB.DossierInset

@using Burk.Model.Resources;

<script type="text/javascript" src="~/Scripts/custom/SystemSettings/AddEditInsetItem.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("AddEdit", "Inset", FormMethod.Post, new { id = "addEditInsetItemForm" }))
{
    @Html.HiddenFor(x => x.DosObjectId)
    @Html.HiddenFor(x => x.UID)
    @Html.HiddenFor(x => x.DosInsetId)
    @Html.HiddenFor(x => x.Index)

    <div class="tb_title">@Html.DisplayNameFor(x => x.FullName):<span class="req">*</span></div>
    <div>@Html.TextBoxFor(x => x.FullName)</div>
    <div class="tb_title">@Html.DisplayNameFor(x => x.ShortName):</div>
    <div>@Html.TextBoxFor(x => x.ShortName)</div>

    <div id="ErrorInputDiv" />
    <div id="SuccessfulCreateDiv" />

    <input id="saveBtn" type="button" class="btn btn-primary btn-sm" onclick="SaveInset()" value="@Resource.Save" />
}